{% extends "base.html" %} {% block content %}
<section class="flex flex-col justify-evenly grow">
  <div class="justify-center flex py-8 basis-1/3 items-center">
    <div class="border border-black border-solid w-1/2 h-20 flex flex-col items-center justify-center p-4">
      {% block content_title %}
      <h1 class="border-0 font-normal text-center">General Information</h1>
      {% endblock %}
    </div>
  </div>

  {% block content_body %}
  <div class="basis-1/3">
    <h2 class="border-b border-solid border-black mb-4">Hello:</h2>
    <div class="prose max-w-none max-h">
      <p>
        Greetings! My name is Theo Budiyanto. I grew up in Indonesia, before I made my way and graduated from UC
        Berkeley. Then, I had a brief stint working as a Software engineer in Bay Area before finally coming back to
        where I came from.
      </p>
      <p>
        Reach me on twitter
        <a href="https://twitter.com/tibudiyanto">@tibudiyanto</a>
      </p>
    </div>
  </div>

  <div class="basis-1/3 flex flex-col">
    <h2 class="text-md uppercase font-bold: border-b border-solid border-black mb-4">Working Experience:</h2>
    <ol class="flex flex-col justify-between grow">
      <li class="flex flex-row justify-between mb-1">
        <div>Backend <a href="https://www.govtechedu.id/">GovTech Edu</a></div>
        <div>2023</div>
      </li>

      <li class="flex flex-row justify-between mb-1">
        <div>
          Indie Hacking <a href="https://saweria.co">Saweria</a>
          <a href="https://www.techinasia.com/idn-media-reportedly-acquires-creator-payment-platform-saweria">💰</a>
        </div>
        <div>2022-2023</div>
      </li>

      <li class="flex flex-row justify-between mb-1">
        <div>Cofounder @ <a href="https://delman.io">Delman</a></div>
        <div>2018-2022</div>
      </li>
      <li class="flex flex-row justify-between">
        <div>Software Engineer @ <a href="https://splunk.com">Splunk</a></div>
        <div>2016-2018</div>
      </li>
    </ol>
  </div>

  {% endblock %}
</section>
<!-- /#content -->
{% endblock content %}
